{% if return_resp %}
  {{ return_resp }}
{% else %}

<html>
  <head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script>
      $(document).ready(function(){
        $('#login-button').click(function() { 
          var pass = $('#pass').val();
          var user_name = $('#user_name').val();
          if (pass == "") {
            $('.test-password-response-fail').html('Wpisz hasło.')
          } else {
            console.log(user_name.substring(0, 4)+' user_name='+user_name)
            $.post('/', { pass:pass, user_name:user_name }, function(data) {
              console.log('sdfsdfsdf')
              console.log('data:'+data)
              if (data.trim()=='fail') {
                $('.test-password-response-fail').html('Podane hasło jest błędne.');
                $('.test-password-response-OK').html('');
              } else {
                $('.test-password-response-fail').html('');
                $('.test-password-response-OK').html('=>'+data+'<=');	
              }
              
              /*
                Your own code to redirect or do something you want
              */
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
              $('#test-password-response').html( "error" + jqXHR.responseText);
            });
            return false; // prevent default
          }
        });

      });
    </script>

</head>
<body>

  
  <p>Login form<br />
    <form action="#">
      Wpisz imię:
      <input type="text" name="user_name" id="user_name" class="user-name-input" placeholder="Nazwa użytkownika" value="Wojtek"><br />
      Hasło:
      <input type="password" name="pass" id="pass" class="pass-input" placeholder="haslo" value="Wo123"><br />
      <div class="test-password-response-OK" style="color:darkgoldenrod"></div>
      <div class="test-password-response-fail" style="color:aliceblue;background-color:red;"></div>
      <input type="button" value="Zaloguj" id="login-button" class="login-button">
    </form>
    <br>{{datetimenow}}
  </p>
  <div>Test logowania:<br />1. podaj imię;<br />2. wpisz hasło <br /> dla testów hasło to: 2 pierwsze litery imienia+123<br /></div>

</body>
</html>
{% endif %}